@{ 
    ViewData["Title"] = "Random Words Generator";
}

<p>hbfdjoipok fgidniospmo bviufgdiospom gdiubosinpf </p>
<p>hbfdjoipok fgidniospmo bviufgdiospom gdiubosinpf </p>
<p>hbfdjoipok fgidniospmo bviufgdiospom gdiubosinpf </p>